.App {
  height: 100%;
  justify-content: space-around;
  font-family: "Chelsea Market";
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Timer {
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  text-align: center;
}
#pause {
  color: white;
  border: none;
  font-weight: bold;
  font-size: large;
  background-color: transparent;
  outline: none;
}
#pause:hover {
  color: black;
}
#start {
  color: white;
  font-weight: bold;
  border: none;
  font-size: large;
  background-color: transparent;
  outline: none;
}
#start:hover {
  color: black;
}
#sessionType {
  margin-bottom: 0cm;
  font-size: large;
}

h1 {
  font-size: 3rem;
}
header {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}
#session-label {
  margin-bottom: 0mm;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}
.SessionSetter {
  align-items: center;
  display: flex;
  font-size: 2.5rem;
  padding: 1rem;
  justify-content: center;
}
#break-label {
  margin-bottom: 0mm;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}
.BreakSetter {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  padding: 1rem;
  justify-content: center;
}
#reset {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
}
#reset[rotate="1"] {
  animation: rotate 500ms;
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

.timeSelector {
  display: flex;
  flex-direction: row;
}

.increment {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  outline: none;
}
.decrement {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  outline: none;
}
.author {
  font-size: small;
  color: rgb(245, 115, 76);
}
.gitLink,
.gitLink:visited {
  text-decoration: none;
  color: rgb(245, 115, 76);
}
