.App {
  height: 100%;
  justify-content: space-around;
  font-family: "Chelsea Market";
  align-items: center;
  display: flex;
  flex-direction: column;
}
#sessionType {
  margin-bottom: 0cm;
  font-size: large;
}
h1 {
  font-size: 3rem;
}
header {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}
#session-label {
  margin-bottom: 0mm;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}
.SessionSetter {
  align-items: center;
  display: flex;
  font-size: 2rem;
  padding: 1rem;
}
#break-label {
  margin-bottom: 0mm;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}
.BreakSetter {
  display: flex;

  font-size: 2rem;
  padding: 1rem;
}
#reset {
  font-size: 2rem;
  background-color: transparent;
  border: none;
}

.Timer {
  flex-direction: column;
  justify-content: center;
  display: flex;
  background-color: rgb(245, 115, 76);
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  text-align: center;
}
#pause {
  color: white;
  border: none;
  font-weight: bold;
  font-size: large;
  background-color: transparent;
}
#start {
  color: white;
  font-weight: bold;
  border: none;
  font-size: large;
  background-color: transparent;
}
.timeSelector {
  display: flex;
  flex-direction: row;
}

.increment {
  font-size: 1rem;
  margin: 0.5em;
  border: none;
  background-color: transparent;
}
.decrement {
  font-size: 1rem;
  margin: 0.5em;
  border: none;
  background-color: transparent;
}
.author {
  font-size: small;
  color: rgb(245, 115, 76);
}
