.App {
  height: 100%;
  justify-content: space-around;
  font-family: "Chelsea Market";
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Timer {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  text-align: center;
}

#start,
#pause {
  color: white;
  font-weight: bold;
  border: none;
  font-size: 30px;
  background-color: transparent;
  outline: none;
}

#sessionType {
  position: relative;
  margin-bottom: 0cm;
  font-size: large;
}

.timeDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: 50px;
  font-size: 60px;
  color: white;
  letter-spacing: 5px;
}
.colon {
  position: fixed;
}
.minutes {
  min-width: 80px;
}
.seconds {
  min-width: 80px;
}

header {
  margin: 2%;
  font-weight: bold;
  font-size: 1.5rem;
}
#session-label {
  margin-bottom: 0mm;
  text-align: center;
  font-size: 1rem;
  padding: 2%;
}
.SessionSetter {
  align-items: center;
  display: flex;
  font-size: 2rem;
  padding: 5%;
  justify-content: space-around;
}
.spacer {
  width: 10%;
}
#break-label {
  margin-bottom: 0mm;
  text-align: center;
  font-size: 1rem;
  padding: 2%;
}
.BreakSetter {
  align-items: center;
  display: flex;
  font-size: 2rem;
  padding: 5%;
  justify-content: space-around;
}
#reset {
  color: rgb(156, 156, 156);
  font-size: 50px;
  background-color: transparent;
  border: none;
  outline: none;
}
#reset[rotate="1"] {
  animation: rotate 500ms;
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

.timeSelector {
  display: flex;
  flex-direction: row;
}

.increment {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  outline: none;
}
.decrement {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  outline: none;
}
.author {
  font-size: 0.8rem;
  color: rgb(245, 115, 76);
}
.gitLink,
.gitLink:visited {
  text-decoration: none;
  color: rgb(245, 115, 76);
}
